<nav
	class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
	<div class="container-fluid">

		<!-- Brand -->
		<a class="navbar-brand waves-effect"
			 target="_blank"> <strong
			class="blue-text">Banca Digital</strong>
		</a>

		<!-- Collapse -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Links -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<!-- Left -->
			<ul class="navbar-nav mr-auto">
				
			</ul>

			<!-- Right -->
		</div>

	</div>
</nav>