<main class="pt-5 mx-lg-5" style="height: 80vh">
	<div class="container-fluid mt-5">
		<div class="h5">Tarjetas</div>
		<div class="card">
			<div class="card-body">
				<table class="table table-hover" width="100%">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Tarjeta</th>
							<th scope="col">Fec. Vencimiento</th>
							<th scope="col">Estado</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>
							<td>@twitter</td>

						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th>#</th>
							<th>Tarjeta</th>
							<th>Fec. Vencimiento</th>
							<th>Estado</th>
						<tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</main>
<!--Main layout-->